<script>
	import NavBar from "./Navbar.svelte";
	import Led from "./Led.svelte";
	import { Button, Col, Container, Row } from "sveltestrap";
	import { Card } from "sveltestrap";
	import { TabContent, TabPane } from "sveltestrap";
	import { Progress } from "sveltestrap";
	import Battery from "./Battery.svelte";
	import { jsonData, count } from "./main";
	import Chart from "./Chart.svelte";

	let ps = 0,
		UnS = 0,
		ts = 0,
		a1S = 0,
		a2S = 0,
		StB = 0,
		err = 0,
		SoB = 0,
		vol = 0,
		PSP = 0,
		TSP = 0,
		time = 0,
		ac = 0,
		dc = 0,
		counter = 0;
	count.subscribe((value) => {
		ps = jsonData.PS;
		UnS = jsonData.UnS;
		ts = jsonData.TS;
		a1S = jsonData.a1S;
		a2S = jsonData.a2S;
		StB = jsonData.StB;
		err = jsonData.err;
		vol = jsonData.vol;
		PSP = jsonData.PSP;
		TSP = jsonData.TSP;
		SoB = jsonData.SoB;
		time = jsonData.time;
		ac = jsonData.Ac;
		dc = jsonData.dc;
		counter++;
	});
</script>

<NavBar />

<Container fluid>
	<Row>
		<Col xs="12" sm="12" md="6">
			<div class="connect-container">
				<Button color="primary" id="connect">Connect</Button>
				<span id="status" />
			</div>
		</Col>

		<Col xs="12" sm="12" md="6"
			><div class="d-flex justify-content-center">
				<Battery timeData={time} maxBattery={240} />
			</div>
		</Col>
	</Row>
</Container>

<TabContent>
	<TabPane tabId="user" tab="User" active>
		<Container fluid>
			<p id="demo" />
			<Card class="mb-3">
				<br />
				<Row cols={{ lg: 3, md: 2, sm: 1 }}>
					<Col><Led name="Tilt switch" value={ts} /></Col>

					<Col><Led name="Pan switch" value={ps} /></Col>

					<Col><Led name="Actuator 1 switch" value={a1S} /></Col>

					<Col><Led name="Actuator 2 switch" value={a2S} /></Col>

					<Col><Led name="Unextended  switch" value={UnS} /></Col>

					<Col><Led name="Start Button" value={StB} /></Col>

					<Col><Led name=" Stop Button" value={SoB} /></Col>
				</Row>
			</Card>
		</Container>
		<Container fluid>
			<Card class="mb-3">
				<Row cols={{ lg: 2, md: 2, sm: 2 }}>
					<Col>
						Last Error
						<br />
						{#if err == 512}
							<p>WATCHDOG ERROR : 512</p>
						{:else if err == 256}
							<p>NFC ERROR : 256</p>
						{:else if err == 128}
							<p>AC CURRENT ERROR : 128</p>
						{:else if err == 64}
							<p>DC CURRENT ERROR : 64</p>
						{:else if err == 32}
							<p>MAIN PCB ERROR : 32</p>
						{:else if err == 16}
							<p>HEAD PCB ERROR : 16</p>
						{:else if err == 8}
							<p>AC MOTOR ERROR : 8</p>
						{:else if err == 4}
							<p>ACT ERROR : 4</p>
						{:else if err == 2}
							<p>TILT ERROR : 2</p>
						{:else if err == 1}
							<p>PAN ERROR : 1</p>
						{:else}
							<p>NO ERROR : 0</p>
						{/if}
					</Col>
					<Col
						>Volume <br />
						<Progress value={vol}>{vol}%</Progress>
						Pan speed parameters <br />
						<Progress value={PSP} color="success">{PSP}%</Progress>
						Tilt speed parameters <br />
						<Progress value={TSP} color="warning">{TSP}%</Progress>
					</Col>
				</Row>

				<br />
			</Card>
		</Container>
		<Container fluid>
			<Row>
				<Col xs="12" sm="12" md="6"
					><Chart
						stats={ac}
						{counter}
						lable="AC Current (RMS)"
						borderColor="rgb(255, 99, 132)"
						backgroundColor="#FFFF66"
						maxTime={600}
					/>
				</Col>

				<Col xs="12" sm="12" md="6"
					><Chart
						stats={dc}
						{counter}
						lable="DC"
						borderColor="rgb(255, 99, 500)"
						backgroundColor="#3380ff"
						maxTime={600}
					/>
				</Col>
			</Row>
		</Container>
	</TabPane>

	<TabPane tabId="advanced" tab="Advanced">
		<Container>
			<div class="sender">
				<div class="lines-header">Sender</div>
				<div class="lines-body">
					<div id="sender_lines" class="lines" />
					<input
						id="command_line"
						class="command-line"
						placeholder="Start typing ...."
					/>
				</div>
			</div>
			<div class="receiver">
				<div class="lines-header">Receiver</div>
				<div class="lines-body">
					<div id="receiver_lines" class="lines" />
				</div>
			</div>
		</Container>
	</TabPane>
</TabContent>

<style>
</style>
