<script>
	export let timeData;
	export let width = `0%`;
	export let color = `#339900`;
	export let maxBattery=180;
	var x,minute = 0 , timeB=0;
	$:if(timeData){
		minute = timeData / 1000;
		x = ((minute / maxBattery) * 100).toFixed(0);
		timeB = millisToMinutesAndSeconds(timeData);
		if (x > 100) {
			width = `100%`;
		} else {
			width = `${x}%`;
		}
		color = `#339900`;

		if (timeData < 500) {
			color = `#cc3300`;
		} else if (timeData >= 500 && timeData <= 20000) {
			color = `#ffcc00`;
		} else if (timeData > 20000) {
			color = `#339900`;
		}
	}
	function millisToMinutesAndSeconds(millis) {
		var minutes = Math.floor(millis / 60000);
		var seconds = ((millis % 60000) / 1000).toFixed(0);
		return minutes + ":" + (seconds < 10 ? "0" : "") + seconds;
	}


</script>

<div class="battery ">
	<div class="level" style="--color:{color};--width:{width}">
		<div class="text">{width}</div>
	</div>
	<div class="text">{timeB} seconds</div>
</div>

<style>
	.battery {
		height: 150px;
		width: 320px;
		border: 1px solid #000;
		border-radius: 15px;
		position: relative;
	}
	.battery::before {
		content: "";
		position: absolute;
		height: 32px;
		width: 10px;
		right: -16px;
		top: 50%;
		transform: translate(-50%, -50%);
		background: #000;
		transition: all 0.5s;
	}
	.level {
		height: 100%;
		background: var(--color, "red");
		border-radius: 10px;
		display: flex;
		text-align: center;
		align-items: center;
		animation: 3s linear;
		width: var(--width, 4%);
	}
	.level .text {
		color: #000;
		font-size: 18px;
		font-family: serif;
	}

</style>
