<script>
    import { onMount } from "svelte";
    import Chart from "chart.js/auto";
    import zoomPlugin from "chartjs-plugin-zoom";
    export let stats;
    export let counter = 0;
    export let lable = "acab",
        backgroundColor = "rgb(255, 99, 500)",
        borderColor = "#3380ff";
    export let maxTime = 600;
    let ctx;
    let myChart;

    Chart.register(zoomPlugin);

    $: if (stats) {
        if (counter % 600 == 0) {
            myChart.data.labels = [];
            myChart.data.datasets[0].data = [];
            counter = 0;
            myChart.update();
        }
        myChart.data.labels.push(counter++);
        myChart.data.datasets[0].data.push(stats);
        myChart.update();
    }

    onMount(async () => {
        myChart = new Chart(ctx, {
            type: "line",
            data: {
                labels: [],
                datasets: [
                    {
                        label: lable,
                        backgroundColor: backgroundColor,
                        borderColor: borderColor,
                        data: [],
                    },
                ],
            },
            options: {
                plugins: {
                    zoom: {
                        zoom: {
                            wheel: {
                                enabled: true,
                            },
                            pinch: {
                                enabled: true,
                            },
                            mode: "xy",
                        },
                    },
                },
            },
        });
    });
</script>

<div class="card bg-gradient-info">
    <canvas
        id="myChart"
        style="position: relative; height:50vh; width:80vw"
        bind:this={ctx}
    />
</div>
