<script>
  export let name;
  export let color = `red`;
  export let value = 0;
  $: if (value == 1) {
    color = "green";
  } else {
    color = "red";
  }
</script>

<div>
  <span class="dot" style="--color:{color}" /><span>{name}</span>
</div>

<style>
  .dot {
    height: 25px;
    width: 25px;
    background-color: var(--color);
    border-radius: 50%;
    display: inline-block;
  }
</style>
