<script>
      import Switch from "svelte-switch";

let checkedValue = true;
export let name;
function handleChange(e) {
  const { checked } = e.detail;
  checkedValue = checked;
  }
</script>


<Switch on:change={handleChange} checked={checkedValue}  /> {name}

